# Backend (Banco de dados Neon)
# ATENÇÃO: Substitua a URL abaixo pela Connection String real fornecida no painel do Neon (Dashboard > Connection Details)
DATABASE_URL=postgresql://neondb_owner:npg_JzLsWTr1Em2Z@ep-nome-da-instancia.regiao.aws.neon.tech/nome_do_banco?sslmode=require

# Segurança
JWT_SECRET=sua-chave-secreta-aqui

# Credenciais do Administrador
ADMIN_USERNAME=admin
ADMIN_PASSWORD=secret123

# Frontend (URL da API hospedada no Render)
NEXT_PUBLIC_API_URL=https://cjnet-backend-latest.onrender.com

# Backend (CORS - Domínios autorizados a acessar a API)
CORS_ORIGINS=https://cjteste.vercel.app,http://localhost:3000
